{{#if (eq inclining "HORIZONTAL")}}
<a class="inclining-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Inclinaison du col" data-content="Inclinaison du col : Horizontal"><i class="icon ion-android-remove {{inclining}}"></i></a>
{{/if}}
{{#if (eq inclining "NEARLY_HORIZONTAL")}}
<a class="inclining-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Inclinaison du col" data-content="Inclinaison du col : Presque horizontal"><i class="icon ion-android-remove {{inclining}}"></i></a>
{{/if}}
{{#if (eq inclining "NEARLY_VERTICAL")}}
<a class="inclining-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Inclinaison du col" data-content="Inclinaison du col : Presque vertical"><i class="icon ion-android-remove {{inclining}}"></i></a>
{{/if}}
{{#if (eq inclining "VERTICAL")}}
<a class="inclining-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Inclinaison du col" data-content="Inclinaison du col : Vertical"><i class="icon ion-android-remove {{inclining}}"></i></a>
{{/if}}