{{#if sensation}}
<a class="sensation-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Sensation du col" data-content="Sensation au toucher du col : {{t sensation}}"><i class="icon {{if (eq sensation "HARD") "ion-android-checkbox-blank" "ion-android-checkbox-outline-blank"}}" ></i></a>  
{{/if}}

