{{#if (eq opening "OPENNED")}}
<a class="opening-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Ouverture du col" data-content="Ouverture du col : Ouvert"><i class="icon ion-android-radio-button-off"></i></a>
{{/if}}
{{#if (eq opening "SLIGHTLY_OPENNED")}}
<a class="opening-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Ouverture du col" data-content="Ouverture du col : Légèrement ouvert"><i class="icon ion-android-radio-button-on"></i></a>
{{/if}}
{{#if (eq opening "CLOSED")}}
<a class="opening-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Ouverture du col" data-content="Ouverture du col : Fermé"><i class="icon ion-record"></i></a>
{{/if}}

