{{#if (eq position "LOW")}}
<a class="position-popover" role="button" tabindex="0" data-container="body" data-placement="top" data-toggle="popover" title="Position du col" data-content="Position du col : Bas" data-trigger="focus"><i class="icon ion-android-arrow-dropdown-circle"></i></a>
{{/if}}
{{#if (eq position "MEDIUM")}}
<a class="position-popover" role="button" tabindex="0" data-container="body" data-placement="top" data-toggle="popover" title="Position du col" data-content="Position du col : Moyen" data-trigger="focus"><i class="icon ion-android-remove-circle"></i></a>
{{/if}}
{{#if (eq position "HIGH")}}
<a class="position-popover" role="button" tabindex="0" data-container="body" data-placement="top" data-toggle="popover" title="Position du col" data-content="Position du col : Haut" data-trigger="focus"><i class="icon ion-android-arrow-dropup-circle"></i></a>
{{/if}}