{{#if (eq sensation "DRY")}}
<a class="ms-sensation-popover" role="button" tabindex="0" data-container="body" data-placement="top" data-toggle="popover" title="Glaires cervicales" data-content="Sensation : Sec" data-trigger="focus"><i class="icon ion-ios-sunny"></i></a>
{{/if}}
{{#if (eq sensation "HUMID")}}
<a class="ms-sensation-popover" role="button" tabindex="0" data-container="body" data-placement="top" data-toggle="popover" title="Glaires cervicales" data-content="Sensation : Humide" data-trigger="focus"><i class="icon ion-ios-cloudy"></i></a>
{{/if}}
{{#if (eq sensation "WET")}}
<a class="ms-sensation-popover" role="button" tabindex="0" data-container="body" data-placement="top" data-toggle="popover" title="Glaires cervicales" data-content="Sensation : Mouillé" data-trigger="focus"><i class="icon ion-ios-rainy"></i></a>
{{/if}}

