{{#if at_cervix}}
<a class="ms-at-cervix-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Glaires au col" data-content="Présence de glaires au niveau du col de l'utérus"><i class="icon ion-android-checkmark-circle"></i></a>
{{else}}
<a class="ms-at-cervix-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Glaires au col" data-content="Absence de glaires au niveau du col de l'utérus"><i class="icon ion-android-radio-button-off"></i></a>
{{/if}}