{{#if present}}
<a class="period-presence-popover text-danger" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Règles" data-content="Présence de règles {{period.volume}} {{period.comment}}"><i class="icon ion-waterdrop"></i></a>
{{else}}
<a class="period-presence-popover" role="button" tabindex="0" data-trigger="focus" data-container="body" data-placement="top" data-toggle="popover" title="Règles" data-content="Absence de règles">&nbsp;</a>
{{/if}}