/* Charts */
.line-legend span {
	width: 5px;
}

/* Temperature */

span.temperature {
	color: rgba(220,220,220,1);
}

span.temperatureCorrected {
	color: rgba(151,187,205,1);
}

/* Bootstrap override */
.no-padding-left {
	padding-left: 0px;
}

table.synthese {
	margin-left: 6.5%;
	width: 93%;
}

table.synthese > tbody > tr > td {
	max-width: 20px;
}

div.rotate_text{
  	-moz-transform:rotate(-90deg); 
   -moz-transform-origin: top left;
   -webkit-transform: rotate(-90deg);
   -webkit-transform-origin: top left;
   -o-transform: rotate(-90deg);
   -o-transform-origin:  top left;
    position:relative;
    margin-right: -70px;
    margin-left: 7px;
}

.rotated_cell
{
 	height:100px;
 	vertical-align:bottom !important;
 	line-height: 0.8 !important;
 	padding: 0px !important;
}

tr.hide-borders{
	line-height: 0 !important;
	padding: 0px !important;
}

tr.hide-borders > td{
	border: none !important;
	line-height: 0 !important;
	padding: 0px !important;
}

/* Icons */

tr.period > td.PERIOD {
	color: #AA0000;
}


tr.mucus-sample > td.DRY {
	background-image: url(/assets/images/sun.png);
	height:21px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.mucus-sample > td.HUMID {
	background-image: url(/assets/images/cloud.png);
	height:21px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.mucus-sample > td.WET {
	background-image: url(/assets/images/rain.png);
	height:21px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.HARD {
	background-image: url(/assets/images/hard.png);
	height:21px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.SOFT {
	background-image: url(/assets/images/soft.png);
	height:21px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.OPENNED {
	background-image: url(/assets/images/openned.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.SLIGHTLY_OPENNED {
	background-image: url(/assets/images/slightly_openned.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.CLOSED {
	background-image: url(/assets/images/closed.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.HORIZONTAL {
	background-image: url(/assets/images/horizontal.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.VERTICAL {
	background-image: url(/assets/images/horizontal.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-transform:rotate(90deg); 
   	-moz-transform-origin: center;
   	-webkit-transform: rotate(90deg);
  	-webkit-transform-origin: center;
   	-o-transform: rotate(90deg);
   	-o-transform-origin:  center;
}

tr.cervix-feeling > td.NEARLY_HORIZONTAL {
	background-image: url(/assets/images/horizontal.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-transform:rotate(-30deg); 
   	-moz-transform-origin: center;
   	-webkit-transform: rotate(-30deg);
  	-webkit-transform-origin: center;
   	-o-transform: rotate(-30deg);
   	-o-transform-origin:  center;
}

tr.cervix-feeling > td.NEARLY_VERTICAL {
	background-image: url(/assets/images/horizontal.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-transform:rotate(-60deg); 
   	-moz-transform-origin: center;
   	-webkit-transform: rotate(-60deg);
  	-webkit-transform-origin: center;
   	-o-transform: rotate(-60deg);
   	-o-transform-origin:  center;
}

tr.cervix-feeling > td.HIGH {
	background-image: url(/assets/images/high.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.LOW {
	background-image: url(/assets/images/low.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.MEDIUM {
	background-image: url(/assets/images/medium.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-transform:rotate(90deg); 
   	-moz-transform-origin: center;
   	-webkit-transform: rotate(90deg);
  	-webkit-transform-origin: center;
   	-o-transform: rotate(90deg);
   	-o-transform-origin:  center;
}

tr.phases {
	line-height: 1;
}

tr.phases > td.FERTILE {
	background-color: #AA0000;
	min-height: 20px;
	min-width: 20px;
}

tr.phases > td.INFERTILE {
	background-color: #00AA00;
	min-height: 20px;
	min-width: 20px;
}