@import "bootstrap";
@import "readable/variables";
@import "readable/bootswatch";
@import "switch";

@grid-float-breakpoint: 150px;

/* Charts */
.line-legend span {
	width: 5px;
}

/* Temperature */

span.temperature {
	color: rgba(220,220,220,1);
}

span.temperatureCorrected {
	color: rgba(151,187,205,1);
}

/* Bootstrap override */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.no-padding-left {
	padding-left: 0px;
}

.at-cervix > .row_label > .row_label {
	margin-top: 35px;
}

.my-table {
	width: 100%;
}

div.rotate_text{
  	-moz-transform:rotate(-90deg); 
   -moz-transform-origin: top left;
   -webkit-transform: rotate(-90deg);
   -webkit-transform-origin: top left;
   -o-transform: rotate(-90deg);
   -o-transform-origin:  top left;
    position:relative;
    margin-left: 30%;
}

.rotated_cell
{
 	vertical-align:bottom !important;
 	line-height: 0.8 !important;
 	padding: 0px !important;
 	height: 100%;
 	text-align: left !important; 
 	
}

td.row_label.rotated_cell {
	width: 10px;
}

tr.hide-borders{
	line-height: 0 !important;
	padding: 0px !important;
}

tr.hide-borders > td{
	border: none !important;
	line-height: 0 !important;
	padding: 0px !important;
}

/* Icons */

tr.period > td.PERIOD {
	vertical-align: middle;
}

tr.period > td.PERIOD > a{
	color: #AA0000 !important;
}



tr.mucus-sample > td.DRY {
	background-image: url(images/sun.png);
	height:21px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.mucus-sample > td.HUMID {
	background-image: url(images/cloud.png);
	height:21px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.mucus-sample > td.WET {
	background-image: url(images/rain.png);
	height:21px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.HARD {
	background-image: url(images/hard.png);
	height:21px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.SOFT {
	background-image: url(images/soft.png);
	height:21px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.OPENNED {
	background-image: url(images/openned.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.SLIGHTLY_OPENNED {
	background-image: url(images/slightly_openned.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.CLOSED {
	background-image: url(images/closed.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

i.VERTICAL {
	display: inline-block;
	-moz-transform:rotate(90deg); 
   	-webkit-transform: rotate(90deg);
   	-o-transform: rotate(90deg);
   	-ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

i.NEARLY_HORIZONTAL {
	display: inline-block;
	-moz-transform:rotate(-30deg); 
   	-webkit-transform: rotate(-30deg);
   	-o-transform: rotate(-30deg);
   	-ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

i.NEARLY_VERTICAL {
	display: inline-block;
	-moz-transform:rotate(-60deg); 
   	-webkit-transform: rotate(-60deg);
   	-o-transform: rotate(-60deg);
   	-ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

tr.cervix-feeling > td.HIGH {
	background-image: url(images/high.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.LOW {
	background-image: url(images/low.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

tr.cervix-feeling > td.MEDIUM {
	background-image: url(images/medium.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-transform:rotate(90deg); 
   	-moz-transform-origin: center;
   	-webkit-transform: rotate(90deg);
  	-webkit-transform-origin: center;
   	-o-transform: rotate(90deg);
   	-o-transform-origin:  center;
}

tr.phases {
	line-height: 1;
}

tr.phases > td.FERTILE {
	background-color: #AA0000;
	min-height: 20px;
	min-width: 20px;
	vertical-align: middle;
}

tr.phases > td.INFERTILE {
	background-color: #00AA00;
	min-height: 20px;
	min-width: 20px;
	vertical-align: middle;
}

tr.at-cervix > td {
	vertical-align: middle !important;
}

thead.text-center > tr > th {
	text-align: center !important;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

h3.text-center{
	margin-top: 8px;
}

.nav-tabs h3 {
	margin-top: 5px !important;
	margin-bottom: 0px;
}

.nav.nav-tabs>li>a {
    position: relative;
    display: block;
     padding: 0px !important; 
    width: 25vW;
}

.panel {
    margin-bottom: 0px;
}

body { padding-top: 44pt; }

.dropdown-menu {
	border: 1px solid #e5e5e5 !important; 
	background-color: #fff !important; 
}
.navbar, .navbar-brand {
    height: 44pt;
    min-height: 44pt;
    max-height: 44pt;
}

.navbar-brand.back-icon {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 1.8;
}

.navbar-brand.back-icon i {
	margin-top: 5px;
	font-size: 1.7em !important;
}

.back-icon span {
    position: absolute;
    top: 9pt;
}

.navbar .navbar-nav > li > a {
    margin: 9px 6px 0px 6px !important;
}

i.check {
	font-size: 1.3em;
}

.navbar-nav .open .dropdown-menu {
    position: absolute !important;
}

td.row_label {
	vertical-align: middle !important;
	padding:0px !important;
}

@media(max-width:@screen-xs-max){
	table.synthese {
		table-layout: fixed;
	}
    table.synthese td.row_label2 {
    	width: 44px !important;
    }

    table.synthese td.row_label {
    	width: 22px !important;
    }
    table.synthese td {
    	padding: 0px !important;
    }
    table.synthese td:not(.row_label), td:not(.row_label2) { 
    	width: auto;
    }
}

@media(min-width:@screen-sm-min){
	table.synthese {
		table-layout: fixed;
	}
    table.synthese td.row_label2 {
    	width: 48px !important;
    }

    table.synthese td.row_label {
    	width: 24px !important;
    }
    table.synthese td {
    	padding: 0px !important;
    }
    table.synthese td:not(.row_label), td:not(.row_label2) { 
    	width: auto;
    }
}

.phases a {
	color: #FFF;
}

a[role=button]>i.icon {
	font-size: 1.5em;
}

.synthese a[role=button]>i.icon {
	font-size: 1em !important;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;
}

.icon-btn i {
	font-size: 3.5em;
}

.icon-btn h3 {
	margin-top:0px;
}

.navbar-nav > li > a:not(.active), .nav-tabs > li:not(.active) > a {
    color: #8F8E94;
}

.ion-ios-arrow-back, .navbar-nav > li > a.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li.active > a:hover {
    color: #4582EC;
    background-color: #fff;
}
.nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    border: 1px solid #fff;
}

.nav-tabs {
    position: fixed;
    bottom: 0px;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(221, 221, 221);
    width: 100%;
    left: 0;
}

.nav-pills > li, .nav-tabs > li {
    float: left;
}
.nav-tabs > li {
    width: 25vw;
}

.tab-content {
    padding-bottom: 50px;
}

.error-list {
	margin-top: 10px;
}

/* Absolute Center Spinner */
.loading-overlay {
  position: fixed;
  z-index: 1050;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-overlay:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading-overlay:not(:required) {
  /* hide "loading-overlay..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading-overlay:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.control-label.toggle {
    margin-top: 8px;
}

.x-toggle-btn {
  float: right;
}

.x-toggle-flip.x-toggle-btn:before {
    background: @brand-danger;
}

.x-toggle:checked + .x-toggle-flip.x-toggle-btn:after {
    background: @brand-success;
}