<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#"> PFN </a> 
        <p class="navbar-text">Mon planning familial naturel</p>
      </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
            {{#if model.activeCycle.id}}
              <li>{{#link-to 'temperatures' model.activeCycle.id}}Températures{{/link-to}}</li>
              <li>{{#link-to 'mucus-samples' model.activeCycle.id}}Glaires{{/link-to}}</li>
              <li>{{#link-to 'cervix-feelings' model.activeCycle.id}}Col{{/link-to}}</li>
              <li>{{#link-to 'periods' model.activeCycle.id}}Règles{{/link-to}}</li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
          
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden='true'></span>{{model.surname}}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {{#if model.activeCycle.id}}
                  <li>{{#link-to 'cycle' model.activeCycle.id}}Détails du cycle actif {{model.activeCycle.id}}{{/link-to}}</li>
                {{/if}}
                <li>{{#link-to 'cycles' model.id}}Tous les cycles{{/link-to}}</li>
                <li>{{#link-to 'cycle' "new"}}Nouveau cycle{{/link-to}}</li>
                <li class="divider"></li>
                <li>{{#link-to 'profile'}}Profil{{/link-to}}</li>
              </ul>
            </li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid">
  {{outlet}}
  {{outlet "modal"}}
</div>