<div class="{{if isLoading "loading-overlay" ""}}"></div>
<header>
    <div>
      {{nav-bar model=model selectedCycle=selectedCycle lastCycles=lastCycles isPopup=isPopup goBack=(action 'goBack') changeSelectedCycle=(action 'changeSelectedCycle') currentController=currentController}}
    </div>
</header>
<div class="container-fluid">
  {{liquid-outlet}}
</div>
<span class="hidden">{{darkMode}}</span>